nav {
    text-align: right;
    font-color: black;
}

body {
    text-align: center;
    font-style: roboto;
    background-color: white;
    color: black;
    <!-- Dark mode rgba(32,33,36,1) -->
}


.top {
    text-align: right;

}

.logo {
    padding-top: 235px;
    text-align: center;
}

.search-border {
}

.search-space {
    margin: auto;
    max-width: 550px;
    max-height: 10px;
    width: 20%;
    border-style: solid;
    border-color: #CCCCCC;
    border-width: thin;
    border-radius: 450px;
    background:white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding: 4 px;
    width: 550px;
    text-align: left;
}

.asearch {
    padding-top: 20px;
    padding-left: 200px;
    text-align: left;

}

input.search {
    width: 35%;
    height: 32px

}

.adv-logo {
    padding-left: 18px;
}

.adv-search {
    color: rgba(239,154,154,1);
    font-size: 32px;
}

.adv-button {
  background-color: #6699FF /* Baby Blue */
  border: none;
  color: black;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
